
html, body, :global(#root) {
  height: 100%;
  -webkit-tap-highlight-color:transparent;
  font-family: 'PingFang-SC-Medium';
  -webkit-touch-callout: none; /* 禁止系统默认菜单 */
  -webkit-user-select: none; /* 禁止用户的选择 */
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  　　display: none;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.loading img {
  margin-bottom: .18rem;
}